In [30]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
data = pd.read_csv('files/items.csv')
df = pd.DataFrame(data)
df.head()

   Id    Item  Quantity  Price  Bought  Forenoon  Afternoon
0   1    milk       2.0   67.0   672.0     456.0        NaN
1   2   sugar       1.0    NaN   453.0     234.0        NaN
2   3   chips       NaN   45.0   456.0     322.0        NaN
3   4  coffee       2.0   45.0   672.0     564.0        NaN
4   5    meat       4.0   56.0   786.0     221.0        NaN

In [31]:
df.fillna(df.mean(),inplace=True)
df.head()

TypeError: Could not convert ['milksugarchipscoffeemeatchocosjuicejambreadbutter'] to numeric

In [6]:
df['Price'].fillna(df['Price'].median(),inplace=True)
df

   Id    Item  Quantity  Price  Bought  Forenoon  Afternoon
0   1    milk       2.0   67.0   672.0     456.0        NaN
1   2   sugar       1.0   60.5   453.0     234.0        NaN
2   3   chips       NaN   45.0   456.0     322.0        NaN
3   4  coffee       2.0   45.0   672.0     564.0        NaN
4   5    meat       4.0   56.0   786.0     221.0        NaN
5   6  chocos       3.0   60.5   345.0       NaN      213.0
6   7   juice       1.0   78.0   765.0       NaN      344.0
7   8     jam       NaN   65.0   665.0       NaN      333.0
8   9   bread       3.0   60.5     NaN       NaN      567.0
9  10  butter       4.0   60.5     NaN       NaN      322.0

In [11]:
df['Quantity'].fillna(df['Quantity'].std(),inplace=True)
df

   Id    Item  Quantity  Price  Bought  Forenoon  Afternoon
0   1    milk       2.0   67.0   672.0     456.0        NaN
1   2   sugar       1.0   60.5   453.0     234.0        NaN
2   3   chips       2.5   45.0   456.0     322.0        NaN
3   4  coffee       2.0   45.0   672.0     564.0        NaN
4   5    meat       4.0   56.0   786.0     221.0        NaN
5   6  chocos       3.0   60.5   345.0       NaN      213.0
6   7   juice       1.0   78.0   765.0       NaN      344.0
7   8     jam       2.5   65.0   665.0       NaN      333.0
8   9   bread       3.0   60.5     NaN       NaN      567.0
9  10  butter       4.0   60.5     NaN       NaN      322.0

In [12]:
df['Bought'].fillna(df['Bought'].mean(),inplace=True)
df

   Id    Item  Quantity  Price  Bought  Forenoon  Afternoon
0   1    milk       2.0   67.0  672.00     456.0        NaN
1   2   sugar       1.0   60.5  453.00     234.0        NaN
2   3   chips       2.5   45.0  456.00     322.0        NaN
3   4  coffee       2.0   45.0  672.00     564.0        NaN
4   5    meat       4.0   56.0  786.00     221.0        NaN
5   6  chocos       3.0   60.5  345.00       NaN      213.0
6   7   juice       1.0   78.0  765.00       NaN      344.0
7   8     jam       2.5   65.0  665.00       NaN      333.0
8   9   bread       3.0   60.5  601.75       NaN      567.0
9  10  butter       4.0   60.5  601.75       NaN      322.0

In [13]:
df['Bought']=df['Bought'].astype(int)
df

   Id    Item  Quantity  Price  Bought  Forenoon  Afternoon
0   1    milk       2.0   67.0     672     456.0        NaN
1   2   sugar       1.0   60.5     453     234.0        NaN
2   3   chips       2.5   45.0     456     322.0        NaN
3   4  coffee       2.0   45.0     672     564.0        NaN
4   5    meat       4.0   56.0     786     221.0        NaN
5   6  chocos       3.0   60.5     345       NaN      213.0
6   7   juice       1.0   78.0     765       NaN      344.0
7   8     jam       2.5   65.0     665       NaN      333.0
8   9   bread       3.0   60.5     601       NaN      567.0
9  10  butter       4.0   60.5     601       NaN      322.0

In [16]:
df['Forenoon'].fillna(df['Forenoon'].max(),inplace=True)
df

   Id    Item  Quantity  Price  Bought  Forenoon  Afternoon
0   1    milk       2.0   67.0     672     456.0        NaN
1   2   sugar       1.0   60.5     453     234.0        NaN
2   3   chips       2.5   45.0     456     322.0        NaN
3   4  coffee       2.0   45.0     672     564.0        NaN
4   5    meat       4.0   56.0     786     221.0        NaN
5   6  chocos       3.0   60.5     345     564.0      213.0
6   7   juice       1.0   78.0     765     564.0      344.0
7   8     jam       2.5   65.0     665     564.0      333.0
8   9   bread       3.0   60.5     601     564.0      567.0
9  10  butter       4.0   60.5     601     564.0      322.0

In [19]:
df['Afternoon'].fillna(method='bfill', inplace=True)
df

   Id    Item  Quantity  Price  Bought  Forenoon  Afternoon
0   1    milk       2.0   67.0     672     456.0      213.0
1   2   sugar       1.0   60.5     453     234.0      213.0
2   3   chips       2.5   45.0     456     322.0      213.0
3   4  coffee       2.0   45.0     672     564.0      213.0
4   5    meat       4.0   56.0     786     221.0      213.0
5   6  chocos       3.0   60.5     345     564.0      213.0
6   7   juice       1.0   78.0     765     564.0      344.0
7   8     jam       2.5   65.0     665     564.0      333.0
8   9   bread       3.0   60.5     601     564.0      567.0
9  10  butter       4.0   60.5     601     564.0      322.0

In [23]:
all_mean = df.fillna(df.mean())

TypeError: Could not convert ['milksugarchipscoffeemeatchocosjuicejambreadbutter'] to numeric